body{
  margin: 20px 10px;
}

.subtitle {
  font-size: 0.5em;
  display: block;
  margin-top: -2px;
}

/* Mailchimp popup */
.mc-closeModal{
  top: 10px!important;
  right: 10px!important;
  color: #595959!important;
  z-index: 99!important;
}

/* Mailchimp form */
#mc_embed_signup form{
  padding-left: 0!important;
}
